<%- include('./partials/head') %>

<article>
    <header>
        <img src="" alt="">
    </header>

    <div class="content-container">

        <div class="profile-container">
            <img class="avatar" src="<%= persoonlijkeData.data.avatar %>" alt="Profiel foto">
            <h1 class="name"><%= persoonlijkeData.data.name %></h1>
            <a class="links" href="<%= persoonlijkeData.data.website %>" target="_blank">🖥️Github</a>
            <a class="links" href="<%= persoonlijkeData.data.website %>" target="_blank">💼Linkedin</a>
            <a class="links" href="<%= persoonlijkeData.data.website %>" target="_blank">📸Instagram</a>
            <p class="bio"><%= persoonlijkeData.data.bio %></p>
        </div>


        <div class="repo-container">
            <div class="repo-widget">
                <div class="repo">
                    <ul class="repo-ul">
                        <% for (let i = 0; i < 7; i++) { %>
                            <% if (githubData[i]) { %>
                                <li>
                                    <a href="<%= githubData[i].html_url %>">
                                        <%= githubData[i].name.length > 15 ? githubData[i].name.substring(0, 15) + '...' : githubData[i].name %>
                                    </a>
                                </li>
                            <% } %>
                        <% } %>

                    </ul>
                </div>
                <button id="repo-button">
                    <span class="repo-emoji">⌨️</span>Git Repositories
                </button>

            </div>
        </div>

    </div>


    <footer></footer>
</article>

<%- include('./partials/foot') %>
